<div class="map-container">
    <div class="map-controls">
        <div class="control-card">
            <h3 class="text-xs font-bold tracking-wider text-gray-500 mb-3">Layers</h3>

            <label class="layer-item">
                <input type="checkbox" [checked]="layerVisibility.local" (change)="toggleNiFiLayer()" />
                <span class="indicator local"></span>
                <span class="label-text">Geometries</span>
            </label>
        </div>
    </div>
    <div id="map-canvas"></div>
</div>
